html, body{
    background-color:#f2f2f2;
    font-size: 100%;
    font: helvetica;
    text-align:center;
}

#banner {
    background-color: #2c3e40;
    height:8em;
    width:100%;
    position: fixed;
    top:0;
}

#banner_title {
    margin-top:0;
    margin-right:auto;
    margin-left: auto;
    max-width: 100%;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-top: 1.5em;
    color: #ffffff;
    font-size:1.8em;
    font-family: sans-serif;
}

#content {
    max-width: inherit; 
    margin-top:9em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #ffffff;
}

h1 {
    font-family: helvetica, sans-serif;
    font-size: 1em;
}

h2 {
    font-family: helvetica, sans-serif;
    font-size: 1em;
    color: #83bbbf;
}

.paragraph {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#caption_one {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

img {
    width: 700px;
}

/******************
 * FULLSIZE STYLES *
 ******************/

@media screen and (min-width: 786px) and (max-width: 1200px) {
    
    p {
        font-size:1em;
    }
    
    img {
        max-width: 700px;
        min-width: 650px;
    }
}

/******************
 * TABLET STYLES *
 ******************/

@media screen and (min-width: 480px) and (max-width: 786px) {
    
    p {
        font-size:1.25em;
    }
    
    #banner {
        font-size: 1.25em;
    }
    
    #content {
    margin-top: 13em;
    }
    
    img {
        max-width: 405px;
        min-width: 400px;
    }
}

/******************
 * PHONE STYLES *
 ******************/

@media screen and (max-width: 480px) and (min-width: 0px) {
    
    #banner {
        font-size:1.5em;
    }
    
    p {
        font-size: 1.5em;
    }
    
    img {
        display: none;
    }
    
    h2 {
        display: none;
    }
    
    #caption_one{
        display: none;
    }
    
    #content {
    margin-top: 13em;
    }
}
